/* DROPDOWN  */

.container-dropdown {
  position: absolute;
  height: 70px;
  width: 200px;
  background-color: #ffff;
  padding: 15px 5px;
  top: 4.2em;
  right: 80px;
  z-index: 2;
}

.overlay-dropdown {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.1);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}

.polygon-dropdown {
  position: absolute;
  right: 83px;
  top: 3.5em;
  z-index: 1;
}

/* FORM CSS */

.text-title-form {
  font-weight: bold;
  font-family: "Times New Roman", Times, serif;
  font-size: 36px;
  color: white;
  margin-bottom: 30px;
}

.input-form {
  width: 100%;
  padding: 10px;
  background-color: rgba(210, 210, 210, 0.25);
  border: 2px solid #bcbcbc;
  color: white;
}
.input-form-file {
  width: 30%;
  padding: 10px;
  background-color: rgba(210, 210, 210, 0.25);
  border: 2px solid #bcbcbc;
  color: white;
}

.button-form {
  background-color: #af2e1c;
  width: 192px;
  height: 50px;
}

.container-image {
  cursor: pointer;
  width: 200px;
  height: 40px;
  color: white;
  background-color: rgba(210, 210, 210, 0.25);
  padding: 8px;
  margin-left: -15px;
  display: flex;
  justify-content: space-between;
  border: 2px solid #bcbcbc;
}

.image-style {
  height: 15px;
  width: 15px;
  margin-bottom: 8px;
}
